@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
:root {
  --stdMargin: 0 5rem;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeddcd;
  background-image: url(images/BGbgrd.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%vh;
}
/* navigation bar start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  height: 40 px;
  width: 80px;
  margin-left: 46px;
}

.nav_link li {
  list-style: none;
  display: inline-block;
  padding: 0 16px;
}

.search {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin-left: 192px;
  border: 1px solid black;
  padding: 10px 26px 10px 8px;
  border-radius: 5px;
}
.search input {
  background-color: #eeddcd;
}
.search button {
  width: auto;
  height: auto;
  background-color: lightblue;
  border-radius: 6px;
}
.login {
  margin-right: 44px;
}
.login button {
  background-color: rgb(128, 82, 51);
}
.nav_link li a:hover {
  color: yellowgreen;
}
/* navigation bar end */

/* landing page start */
.hero_section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  margin: var(--stdMargin);
}
.hero_txt {
  margin-top: 90px;
  grid-column: 1/5;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: #34251f;
}
.hero_cnt {
  grid-column: 1/5;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
}
.cta_helper {
  grid-column: 1/5;
}
.cta {
  grid-column: 2/4;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
}
.cta button {
  width: auto;
  height: auto;
  padding: 8px 35px;
  text-align: center;
  margin-top: 10px;
}
.img {
  grid-column: 7/-1;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 733px;
  top: 135px;
}
